{% extends "layout.html" %}
{% block title %}Selected Book{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
  <h1>Books</h1>
</div>
<hr>
<div class="d-flex justify-content-center">
  <a class="btn btn-outline-dark" href="/newbook" role="button">Add Book</a>
</div>
<div class="d-flex justify-content-center">
  <form action="/SearchBooks" class="form-inline" method="POST">
    <input type="text" class="form-control" name="book_name" placeholder="Search for a book here">
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">book name: {{selected_book.book_name}}</h5>
        <p class="card-text"> book Author: {{selected_book.book_author}} <br>
          publish date: {{selected_book.publish_date}} <br>
          book type: {{selected_book.book_type}}</p>
      </div>
      <a class="btn btn-danger" href="/deletebook/{{selected_book.id}}">Delete</a>
    </div>
  </div>
</div>
{% endblock %}